/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import '../template/mixins';
@import '../template/settings';
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Roboto',
  'Helvetica Neue', Geneva, 'Noto Sans Armenian', 'Noto Sans Bengali',
  'Noto Sans Cherokee', 'Noto Sans Devanagari', 'Noto Sans Ethiopic',
  'Noto Sans Georgian', 'Noto Sans Hebrew', 'Noto Sans Kannada',
  'Noto Sans Khmer', 'Noto Sans Lao', 'Noto Sans Osmanya', 'Noto Sans Tamil',
  'Noto Sans Telugu', 'Noto Sans Thai', sans-serif, arial, Tahoma, verdana;
$headingFont: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Roboto',
  'Helvetica Neue', Geneva, 'Noto Sans Armenian', 'Noto Sans Bengali',
  'Noto Sans Cherokee', 'Noto Sans Devanagari', 'Noto Sans Ethiopic',
  'Noto Sans Georgian', 'Noto Sans Hebrew', 'Noto Sans Kannada',
  'Noto Sans Khmer', 'Noto Sans Lao', 'Noto Sans Osmanya', 'Noto Sans Tamil',
  'Noto Sans Telugu', 'Noto Sans Thai', sans-serif, arial, Tahoma, verdana;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 300;
$linkColor: #d5c011;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);
$codeFont: 'JetBrains Mono', monospace;

$heading1Size: 1.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Theme template ------------------------------
@import '../template/theme';
// ---------------------------------------------
